<div class="center">
	<p> Tu cherches les immersions d'une start-up en particulier ?</p>
<%= form_tag(search_events_path, :method => "get",:class => "") do %>
   <%= search_field_tag :search, params[:search], placeholder: "Rechercher une start-up...", class: "search" %>

   <%= button_tag "Rechercher", :class => 'btn btn-secondary',:name => nil%>
<% end %>
</div>
