
<br />
<h1 class="center">New Activity</h1>
<br />

<div class="center">
  <%= render 'form', activity: @activity %><br />

  <%= link_to 'Back', activities_path, :class=>"btn btn-primary" %>
</div>
