

<br /><h1 class="center">New Attendance</h1>


<div class="container">

<div class="center">
  <%= render 'form', attendance: @attendance %>
  <br />
  <%= link_to 'Back', event_path(@event), :class=>"btn btn-primary" %>
</div>

</div>
