<h1 class="center">New Newsletter</h1>

<div class="container center">
  <%= render 'form', newsletter: @newsletter %><br />

  <%= link_to 'Back', newsletters_path, :class => "btn btn-primary" %>
</div>
