  <div class="jumbotron">
    <center>
  <h1 class="text-white mb-2 pb-2">ACCÈDE AUX STARTUPS QUI TE FONT RÊVER !</h1>
  <div class="d-none d-lg-block">
  <h3 class="text-white mt-1">Bienvenue sur <b>Startup Immersion</b>, <br/>le service qui te met en relation avec les start-up qui t'intéressent !</h3></div>
<br/>
<br/>
  <h3 class="display-5 text-white mt-0 pt-O"><b><%= link_to "Connecte-toi", new_user_registration_path, class: "p text-white" %></b> et découvre toutes les immersions !
  </h3>
<br/>
  <p class="lead">

    <a class="btn btn-light btn-lg" role="button" <%= link_to "DÉCOUVRIR LES IMMERSIONS", events_path %></a>
  </p>
     </center>

</div>
