
<div class="container center-div">

<div class="row">


    <div class="card text-white bg-primary mb-3 ml-3 mr-3" style="max-width: 20rem;">


      <div class="card-header">TEST</div>
      <img class="card-img-top" src=<%= asset_path 'photo1.jpg' %> alt="Card image cap">

      <div class="card-body">
      <p class="card-text"><center><a class="btn btn-secondary btn-md" href="#" role="button">Preview</a> <a class="btn btn-secondary btn-md" href="#" role="button">Subscribe</a></center></p>


</div>
</div>
</div>
</div>
