

<br/><h1 class="center">Editing Startup</h1>

<div class="container-fluid">
  <div style="width:10em;" class="center"><%= render 'form', startup: @startup %> <br/><br/></div>
</div>

<div class="center">
  <%= link_to 'Show', @startup %> |
  <%= link_to 'Back', startups_path, :class=>"btn btn-primary" %>
</div>
