<br/><h1 class="center">New Startup</h1><br/>

<div class="container-fluid">
  <div style="width:10em;" class="center">  <%= render 'form', startup: @startup %></div>
</div>


<br/>
<div class="center">
  <%= link_to 'Back', startups_path, :class=>" btn btn-primary" %>
</div>
